h1{
  color: Lime;
}

.banner{
  display: flex;
  margin: 0;
  background-color: Black;
  justify-content: center;
}

.banner div{
 color: White; 
 font-size: 100%;
}

.question{
  display = flex; 
  
}
