.banner{
  display: flex;
  margin: 0;
  background-color: Aqua;
  justify-content: flex-end;
}
.banner div {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 40%;
  display: block;
  padding: 1em;
  color: Black;
  
}  
.banner div:hover {
  background: darken(deepskyblue, 2%);
}

.ulDiv{
color: deepskyblue; 
background-color: black;  
margin: 50 px 100 px 0 px 100 px;  
}

.footer{
  display: flex;
  justify-content: center;
  border: 1px solid Magenta;
}

.footer ulDiv{
float: left;
display: inline-block;
  
text-size: 50%;
}

body {
  background-image: url("https://w-dog.net/wallpapers/12/2/323579116218086/close-up-blur-bokeh-lights-night-machinery-macro-background-wallpaper-widescreen-full-screen-hd-wallpapers.jpg");
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: Magenta;
  text-align: center;
  font-size: 300%;
}

h1{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: Aqua;
  margin-bottom: 500 px;
}

h1:hover {
  box-shadow: 10px 10px 50px Lime;
}
button:hover{
  background-color: Lime;
  align-items: flex-start;
}
